{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/types",
    "^@/(consts|forms)",
    "^@/(lib|libs|utils)",
    "^@/contexts",
    "^@/hooks",
    "^@/services",
    "^@/components",
    "^@/pages",
    "^[./](?!.*\\.(svg|png|jpe?g|gif|webp)$)",
    "^@/assets",
    "^[./].*\\.(svg|png|jpe?g|gif|webp)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"]
}
